h2{
    font-size: 36px;
}

h3{
    font-size: 32px;
}
p{
    font-size: 18px;
    margin: 0;
}

.about-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-header h2{
    color: var(--primary1);
    font-weight: 600;
}

.about-header p{
    color: var(--black);
}

.about-content {
    color: var(--gray);
}

.about-content span{
    color: var(--black);
}

.about-ratting{
    display: flex;
    justify-content: space-between;
}

.about-ratting .ratting-item{
    text-align: center;
    align-content: center;
}

.about-ratting .ratting-item h3{
    font-weight: 600;
    color: var(--primary3)
}
.about-ratting .ratting-item p{
    font-weight: 600;
    color: var(--gray);
    font-size: 20px;
}


/* about */

.about-us{
    margin: 70px 0;
}



.about-img{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.about-img .img-container{
    width: 500px;
    height: 425px;
}
.about-img .img-container img{
    width: 100%;
    height: 100%;
}

.lable1,
.lable2{
    position: absolute;
    background-color: var(--pink);
    color: white;
    height: 56px;
    width: fit-content;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    top: 10px;
    right: -10px ;
    box-shadow: 0 8px 25.5px rgba(0, 0, 0, 0.25);
    overflow:visible;
   
}

.lable2{
    bottom: 10px;
    left: 10px;
    top: unset;
    right: unset;
    background-color: #5C3FCF;

}
.lable1 .lablel-img{
    animation: pulseHeart 2s infinite;
}

.lable2 .lablel-img{
 animation: wobble 2s infinite;
}


@keyframes pulseHeart {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100%
    {
        transform: scale(1);
    }

}


.lable1 svg,
.lable2 svg{
    position: absolute;
    width: 100.5%;
    height: 103%;
    pointer-events: none; /* Prevents the SVG from capturing mouse events */
    border-radius: 12px;
    z-index: 2;
}



/* offer banner */
.offer-banner{
    margin: 40px 0;
    background-color: #FE82AA;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.offer-banner .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.offer-banner .offer-price,
.offer-banner .offer-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: white;
    width: 80%;
    position: relative;
    
}
.offer-price img{
    position: absolute;
    top: 0;
    left: -110px;
    animation: tada 2s infinite;
}


.offer-price h1{
    font-size: 96px;
}
.offer-price p{
    font-size: 96px;
    color: var(--primary3);
    font-family: "limit";
}

.offer-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.offer-img img{
    width: 90%;
    height: auto;
    z-index: 3;
}

.offer-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary3);
    bottom: -50%;
    left: 0;
    border-radius: 50%;
    z-index: 2;
}

.offer-banner .offer-link{
    width:fit-content;
    gap: 20px ;
}
.offer-link p{
    font-weight: 600;

}
.offer-link a{
    color: var(--primary1);
    background-color: white;
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
.offer-link a:hover{
    background-color: var(--primary1);
    color: white;
}

/* partners */
.partners{
    margin: 70px 0;
}
.partners .main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.partner-item{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 200px;
    position: relative;
    overflow: visible
}



.partner-item::before,
.partner-item::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 2px solid transparent;
    width: 110%;
    height: 110%;
}

.partner-item::before {
    border-top: 2px solid rgba(188, 192, 192, 0.28);
    border-bottom: 2px solid rgba(188, 192, 192, 0.28);
    clip-path: inset(0 30%);

}

.partner-item::after {
    border-top: 2px solid rgba(188, 192, 192, 0.28);
    border-bottom: 2px solid rgba(188, 192, 192, 0.28);
    clip-path: inset(0 30%);
    transform: rotate(90deg);
}


.partner-item:hover::before {
    animation: rotate 5s linear infinite;
    border-bottom: 2px solid var(--primary3);
    border-top: 2px solid var(--primary3);
}

.partner-item:hover::after {
    animation: rotatew 5s linear infinite;
    border-bottom: 2px solid var(--primary3);
    border-top: 2px solid var(--primary3);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotatew {
    0% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(450deg);
    }
}
